*,
html{
    padding: 0px;
    margin: 0px;

}
.container{
}
.container-navbar{
    background-color:#000;
    width: 100%;
    height: 10vh;
}
.ul-navbar{
    background-color: crimson;
   display: flex;
   height:80PX;
   justify-content: center;
   align-items: center;
}
.li-navbar{
   
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color: white;
}
.li-navbar:hover{
    background-color: black;
    transition: .5s;
    transition-delay: .3s;
    border-radius: 9px;

}


.a-navbar{
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content{
    background-color:rgb(253, 250, 250);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
}
.a-content{
    background-color: white;
    color: #000;
    text-decoration: none;
    font-size: 30px;  
    width: 720px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    box-shadow: 13px 11px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 13px 11px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 11px 3px 0px rgba(0,0,0,0.75);

}

.img-content{
    width: 60vh;
    height: 60%;
   
}
.container-footer{
    background-color: crimson;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-contentcontact{
    background-color: rgb(251, 253, 255);
    width: 60vh;
    height: 60%;
}

.container-h1{
    color: white;
    font-size: 40px;
}